<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Все юзеры</title>
</head>
<body>
<!--все адреса тут в Thymeleaf, пишутся с собачкой в фигурных скобках, ссылки на объект с долларом в фигурных скобках-->
<!--рисуем таблицу из результата запроса-->
<table border="1"> <!-- тип линии рамки -->
    <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Возраст</th>
        <th>email</th>
    </tr>
    <tr th:each="user, state : ${alluserskey}"
        class="row" th:classappend="${state.odd} ? 'odd-row' : 'even-row'">
        <td th:utext="${state.count}">...</td> <!-- вместо ... thymeleaf подставит значение-->
        <td> <!-- тут колонка с ячейками, содержащими ссылки на юзеров через их id-->
            <a th:href="@{/users/id?id={id}(id=${user.getId()})}"
               th:utext="${user.getName()}">...</a>
        </td>
        <td th:utext="${user.getAge()}">...</td>
        <td th:utext="${user.getEmail()}">...</td>
    </tr>
</table>
<br/> <!-- перешли на новую строку-->
<hr/> <!-- рисует линию-->
<a href="/users/new">Создать нового юзера</a> <!--при нажатии на эту ссылку будет переход на /users/new-->
</body>
</html>